html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.cls-3 {
  stroke: none!important;
}

body, button, input, div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.form-section {
  padding-bottom: 20px;
  border-bottom: solid #f3f3f3 1px;
}

h3 {
  font-weight: 600;
}

#icon-grid div {
  width: 20%;
  padding: 10px;
  float: left;
}

svg {
  width: 100%;
  height: 100%;
}

.form-section {
  display: block;
  margin-bottom: 20px;
}

#inputs {
  margin: 50px auto;
  padding: 20px 50px;
  border-right: solid #f3f3f3 1px;
  width: 20vw;
  float: left;
}

#icon-grid {
  margin: 10px auto;
  padding: 20px;
  width: 75vw;
  float: left;
}

#options-download {
  background-color: #17aacc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 120%;
  margin: 0;
  width: 100%;
}

#latest-update {
  margin-top: 15px;
  font-size: 70%;
  opacity: 0.3;
  text-align: center;
}

#latest-update span {
  font-style: italic;
}

#options-download:hover {
  opacity: 0.9;
  cursor: pointer;
}

input[type="color"] {
  width: 30%;
}

input[type="text"] {
  width: 65%;
}

label.block {
  display: block;
}
label.option {
  margin-top: 20px;
}

#logo {
  width: 100%;
  padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
  #icon-grid {
    width: 65vw;
  }
  #inputs {
    width: 30vw;
  }
  #icon-grid div {
    width: 25%;
  }
}

@media only screen and (max-width: 700px) {
  #icon-grid {
    width: 45vw;
  }
  #inputs {
    width: 50vw;
  }
  #icon-grid div {
    width: 50%;
  }
}